[submodule "martcart-frontend-react"]
	path = martcart-frontend-react
	url = https://github.com/DevRish/martcart-frontend-react.git
[submodule "martcart-backend-ts"]
	path = martcart-backend-ts
	url = https://github.com/DevRish/martcart-backend-js.git
